<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-0">
        <meta http-equiv= x-ua-compatible content= ie=edge>
        <meta name= viewport content= width=device-width initial-scale=1.0>
        <title>vitrine location</title>
        <link rel="stylesheet" href="../public/stylesheets/vit.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Economica&display=swap" rel="stylesheet">
        

        
 </head>

<body class="B">
    <header>
        
        <ul class="U">
            <li ><img src="log.JPG" alt="" class="log"></li>
            <div class="in">
                <input type="email" name="email" placeholder="email" style="color: white; text-align: center;">
                <input type="password" name="password" placeholder="password" style="color: white; text-align: center;" >
                <input type="submit" value="submit">
            </div>
            <div class="AQ">
            <li class="LL"><a href="in">inscription</a></li>
            <li class="LL"><a href="res"></ahref="#">réservation</li>
            <li class="LL"><a href="/">location</a></li>
            <li class="LL"><a href="login">login</a></li>

          </div> <br><br>
           <div id="line"></div>
           
        </ul>
    </header>
    <div>
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
            
              <img src="1.jpg" style="width:100%">
             
            </div>
          
            <div class="mySlides fade">
              
              <img src="2.jpg" style="width:100%">
              
            </div>
          
            <div class="mySlides fade">
              <img src="3.jpg" style="width:100%">
              
            </div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
          </div>
          
          <div class="blank">  

          </div>
        
          <div class="up"><p class="tx">UPCOMING CAR</div>

      </p>
          <iframe class="vid" width="700" height="500" src="https://www.youtube.com/embed/G70hRBU9wsY?controls=0" frameborder="0"
           allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="blank">  

    </div>
  
    <div class="Q"><p class="tx1"> Les agences en franchise
      Il s’agit de points de vente gérés par un franchisé indépendant, pour qui la location de voitures est l’activité principale.
      
      Les agences en micro-franchise
      Ces points de location sont eux aussi gérés par des franchisés indépendants. Cependant, la location de véhicules ne constitue 
      qu’un complément d’activité. En effet, il s’agit le plus souvent de garagistes, de concessionnaires etc., qui souhaitent diversifier leur activité.
      
      Les succursales
      Les agences succursales correspondent aux points de vente appartenant au Groupe Rent A Car SA.
      
      Les points relais
      Le plus souvent, les points relais sont des réparateurs et mécaniciens agréés et référencés auprès des sociétés d’assistance.
      
      Les Masters franchises
      Les contrats en Master Franchise offrent une représentation unique de la marque Rent A Car dans un pays étranger.<br>
      <br>
   

     La location de voiture courte durée (LCD) ou location de véhicule est un service proposé par une entreprise offrant aux 
        
        clients la location des automobiles pour de courtes périodes pouvant aller de quelques heures à quelques semaines. Les sociétés de 
        
        location sont souvent constituées de nombreuses agences locales permettant notamment aux clients de retourner leur véhicule à un 
        
        endroit différent de celui de la prise en charge. Les agences de location sont situées pour la plupart dans les terminaux des aéroports,
        
        à proximité immédiate des gares et dans les centres-villes et la réservation peut se faire en ligne par l’intermédiaire d’un site web.

  La location de voiture répond en premier lieu à un besoin temporaire pour celles et ceux qui ne possèdent pas leur propre véhicule, qui ont besoin
  
  d’un véhicule de remplacement à la suite de l'immobilisation de leur automobile, qui recherchent un véhicule de complément après un voyage en train 
  
  ou en avion1. Au-delà des voitures particulières, les véhicules utilitaires et les deux roues font partie intégrante de la location.
  
  En plus de la mise à disposition d’un véhicule, les agences proposent aussi de réserver des produits et services supplémentaires tels que : assurances, 
  
  conducteur additionnel, systèmes de navigation GPS, sièges enfants, chaînes ou pneus neige, ou encore la mise à disposition du véhicule à l’hôtel.</p>
    </div>
 

    </body>
     
    
</html>
<footer>
  <div class="blank">  

  </div>
  <div id="line"></div>
  <div class="links">
      <div class="links1">
  <p> Home </p>
  <p> Galerie </p>
  <p> Inscription </p>
  <p> Reservation </p>
  </div>
  <div class="links2">
      <p> Contact us </p>
      <p> about us </p>
      <p> FAQs </p>
      <p> Blog</p>
  </div>
  
  <div class="email">
  <p> Tapez votre email pour tenter de gagner une voiture de location  :</p>
  <input type="text" placeholder="tapez votre email">
  <button> Go </button>
  </div>
  </div>
  <div class="f2">
  <div class="copyright">
  <p class="FFFF">@Copyright 2020. Tous les droits sont résérvés</p>

  
  </footer>
  <script src="vit.js"></script>
</body>
</html>

 

    